.petItem {
  position: relative;
  height: 370px;
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  transition: box-shadow 200ms linear;
}
.petItem:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 2px -2px rgba(0, 0, 0, 0.4);
}
.petItem:hover .img {
  width: 120%;
}
.link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.link:hover {
  text-decoration: none;
}
.imgWrapper {
  height: calc(100% - 38px);
  overflow: hidden;
  position: relative;
}
.img {
  display: block;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms linear;
}
.name {
  text-align: center;
  margin: 0;
  margin-top: 10px;
  font-size: 1.5rem;
}
