.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 78px);
}
.head {
  margin: 0;
  margin-top: 20px;
  font-size: 2rem;
  color: #c30;
}
